* {
	box-sizing:border-box;
	scrollbar-width: thin;
	scrollbar-color: blue;
}

@media (max-width: 1000px){
*::-webkit-scrollbar {
	display: none;
}
}

*::-webkit-scrollbar {
	width: 5px;
	background-color: lightgrey;
}


@media (max-width: 1000px) {
	* {
		scrollbar-width: none;
	}
}

body {
	margin: 0;
	min-width: 320px;
	background-color: aliceblue;
}

nav {
	height: 90px;
	position: fixed;
	min-width: 320px;
	width: 100vw;
	z-index: 2;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.navBack {
	position: absolute;
	height: 90px;
	width: 100%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: -1;
}

.placeCount {
	margin-left: 15px;
	margin-top: -5px;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
}

.placing {
	margin: 0px 2vw 0px 0px;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	border-style: solid;
	border-width: 3px;
}

.blueShade {
	  animation: blues 5s linear infinite;

}

@keyframes blues {
  11% { color: #0965da }
  22% { color: #0a5eca }
  33% { color: #0652b3 }
  45% { color: #084895 }
  56% { color: #052d60 }
  67% { color: #084895 }
  78% { color: #0652b3 }
  89% { color: #0a5eca }
  100% { color: #0965da }
}

.fontRainbow {
  animation: rainbows 5s linear infinite;
}

@keyframes rainbows {
  0% { color: #ff0101 }
  9% { color: #ff8101 }
  18% { color: #ffff01 }
  27% { color: #81ff01 }
  36% { color: #01ff01 }
  45% { color: #01ff81 }
  55% { color: #01ffff }
  64% { color: #0181ff }
  73% { color: #0101ff }
  82% { color: #8101ff }
  91% { color: #ff01ff }
  100% { color: #ff0181 }
}

.borderColor {
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% { border-color: #ff0101 }
  9% { border-color: #ff8101 }
  18% { border-color: #ffff01 }
  27% { border-color: #81ff01 }
  36% { border-color: #01ff01 }
  45% { border-color: #01ff81 }
  55% { border-color: #01ffff }
  64% { border-color: #0181ff }
  73% { border-color: #0101ff }
  82% { border-color: #8101ff }
  91% { border-color: #ff01ff }
  100% { border-color: #ff0181 }
}

.unfloat {
	float: none;
}

h1 {
	margin: 0px; 
	font-size: calc(1.5em + 0.5vw);
	font-weight: inherit;
}

h1 a{
	text-decoration: none;
}

@media (max-width: 400px) {
h1 a{
	font-size: 0.9em;
}
}

h4 {
	margin: 0px;
	font-size: 1.2em;
}

h5 {
	margin: 0px;
	font-size: 1.1em;
}

input a {
	text-decoration: none;
}

section {
	display: flex;
	display: none;
}

section a {
	color: yellow
}

ul {
	margin-block-start: calc(5px + 1vw);
	list-style-type: none;
	padding-inline-start: 0px;
}

a {
	text-decoration: none;
	color: #0965da;
}

nav button {
	background: rgba(255, 255, 255, 0.3);
	margin-left: 5px;
	padding: 0px 5px;
}

button {
	background-color: transparent;
	border-radius: 50px;
	cursor: pointer;
}


.autowidth {
	width: -webkit-fill-available;
}

.MenuBoxBackground {
	background-color: rgb(0 0 0 / 60%);
	overflow: auto;
	width: 100%;
	z-index: 2;

}


.menu-box{
    min-width: 250px;
    height: 100vh;
    overflow: auto;
    background-color: rgb(50, 50, 200);
    color: white;
}

.menu-box ul{
	margin-left: 10px
}

.menu-box ul ul{
	margin-left: 0px
}

.menu-box ul li a{
	text-decoration: none;
	list-style-type: none;
	color: yellow;

}
.divbottom {
	border-bottom-style: groove;
}

.sub-menu {
	display: none;
}

.closemenu {
	width: 100%;
	border-style: none;
}

.closeMenu1 {
	background-color: transparent;
	width: calc(100vw - 270px);
	height: 100%;
	margin: 0px 0px 0px 15px;
}

.hidden{
	display: none;
}

.show {
	display: flex;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.show2 {
	display: initial;
}

.fade1 {
  -webkit-animation-name: fadeMenu;
  -webkit-animation-duration: 1s;
  animation-name: fadeMenu;
  animation-duration: 1s;
}

@-webkit-keyframes fadeMenu {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fadeMenu {
  from {opacity: .4}
  to {opacity: 1}
}

.left{
	float: left;
}

.right{
	float: right;
}

.padding{
	padding: 5px;
}

.paddingtop {
	padding-top: 10px;
}

.paddingbottom {
	padding-bottom: 10px;
}

.marginTB {
	margin: 10px 0px;
}

.marginT {
	margin-top: 10px;
}

.red li a{
	color: red;
}

.undecotext {
	text-decoration: none;
}

.searchon {
	display: flex;
}

.searchInv {
	background: aliceblue;
	display: flex;
    flex-flow: row wrap;
    height: auto;
    padding-bottom: 30px;
    position: absolute;
    margin-top: 36px;
}

.searchbar {
	border-block-color: blue;
	background: aliceblue;
	border-block-width: 5px;
	border-style: outset;
	min-width: 260px;
	width: 1900px;
    max-width: 93vw;
    height: 30px;
    float: right;
    text-align: right;
    box-sizing: content-box;
	border-inline-end-style: outset;
	border-inline-start-style: outset;
	border-inline-end-width: 5px;
	border-inline-start-width: 5px;
	border-inline-start-color: blue;
	border-inline-end-color: blue;
	border-radius: 30px;
	text-align: center;
}

.searchBox {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    height: auto;
    min-width: 320px;
    max-height: 100vh;
    width: calc(100vw - 10px);
    align-items: center;
    padding-right: 10px;
}

.searchDisplay {
	padding-top: 8px;
    display: flex;
    flex-flow: column;
    min-width: 270px;
    overflow-x: hidden;
    align-items: center;
    width: calc(100% - 30px);

}

@media (max-width:  950px) {
	.searchbar {
		max-width: 90vw;
		}
}

@media (max-width:  590px) {
	.searchbar {
		max-width: 80vw;
		}
}

.hide {
	display: none;
}

#closeSearch {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.myMainTab {

}

.tab {
	float: right;
  	cursor: pointer;
  	background-color: #bbb;
  	border-radius: 50%;
  	transition: background-color 0.6s ease;
    transform: rotate(-90deg);
}

.tab2 {
	float: right;
  	cursor: pointer;
  	background-color: #48cece;
  	border-radius: 50%;
  	transition: background-color 0.6s ease;
	transform: rotate(-90deg);
}

.tab3.active {
	float: right;
  	cursor: pointer;
  	background-color: darkcyan;
  	border-radius: 50%;
  	transition: background-color 0.6s ease;
}

.tab.active {
	rotate: 0deg;
	transform: rotate(0deg);
	background-color: rgb(87, 85, 85);
}

.active.tab2 {
	rotate: 0deg;
	transform: rotate(0deg);
	background-color: darkcyan;
}

/* fine menu */



/* Form Log register */

#profile {
	cursor: pointer;
}

.Fixed {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.registerForm {
    display: flex;
	background-color: lightcyan;
	height: 85vh;
	min-width: 300px;
	width: 50vw;
	max-width: 450px;
	overflow: auto;
	scrollbar-width: none;
	border-radius: 10px;
	z-index: 3;
	position: absolute;
}

.register {
	display: flex;
	flex-flow: column;
	align-items: center;
	min-height: 80vh;
	height: auto;
	width: 100%;
	text-align: center;
}

.regs {
	font-size: 1.3em;
	background: yellow;
	min-width: 150px;
	width: 35%;
	border-radius: 3px;
}

.mainInfo{
	height: auto;
	align-items: center;
	display: flex;
	justify-content: end;
}

.binfocarat {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.infocaratteri {
	position: absolute;
	background: white;
	width: 120px;
	height: 80px;
	left: 0;
	border-radius: 20px;
	top: 25px;
	text-align: center;
	padding: 10px 0px;
}

.b {
	top: 55px;
}

.c {
	top: 120px;
}

.i {
	width: 20px;
	height: 20px;
	background: white;
	border-style: double;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nasco {
	display: none;
}

.marginR {
	margin-right: 8px;
}

.mainInfo2 {
	width: 250px;
	margin-top: 10px;
}

.citta {
	min-width: 90px;
	width: max-content;
}

.btnRegs {
	background: rgba(0,200,255, 0.6);
	width: 100px;
	height: 25px;
}

.login {
	position: absolute;
	height: 170px;
	width: 200px;
	display: flex;
	right: 0;
	top: 45px;
	bottom: 0;
	background-color: lightgray;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	flex-flow: column;
	z-index: 1;
}

.formClose {
	background-color: transparent;
	top: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.showFixed {
	display: none;
}

#formRegister {
    transform: translate(40px);
    margin-bottom: 10px;
}

.angolino {
	height: 40px;
	width: 40px;
	background: lightgray;
	transform: rotate(45deg);
	position: absolute;
	right: 1.5vw;
	top: -7px;
	z-index: -1;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
}

.logyin {
	background-color: rgba(0, 200, 255, 0.6);
	border-style: none;
	width: 80px;
	height: 25px;
}

.closeLogy {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.registrati {
	margin: 0px 10px;
	cursor: pointer;
}

.flex2 {
	display: flex;
	flex-flow: column;
	height: 180px;
	justify-content: space-evenly;
	text-align: end;
	z-index: 2;
}

.flex3 {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	min-height: 150px;
}
.flex4 {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	min-height: 150px;
	width: 145px;
	align-items: center;
}

/* Fine Form Log register */



/* inventario*/
.shower {
	border-top-width: 10px;
	height: auto;
	width: 100%;
	padding: 90px 10px 10px 10px;
	border-bottom-color: black;
	border-bottom-style: groove;
	border-bottom-width: 1px;
}

.showerElem {
	display: inline-flex;
	background-color: blue;
	font-size: 0.8em;
	padding: 0.5em 1em;
    border-radius: 25px;
    margin-top: 20px;
    color: white;

}

.showerElem:hover {
	background-color: red;
}

.showerElemActive {
	display: inline-flex;
	background-color: darkblue;
	font-size: 0.8em;
	padding: 0.5em 1em;
    border-radius: 25px;
    margin-top: 20px;
    color: white;
}	

a .showerElem:hover {
	text-decoration-line: none;
	color: white;
}

.showerElemActive a {
	text-decoration-line: none;
	color: white;
}

a .showerElemActive:hover {
	color: white;
	background-color: red;
}
.showerElemSelected {
	display: flex;
	font-size: 1.3em;
	color: blue;
    padding-top: 10px;
}

/*@media (max-width:400px){
.showerElem, .showerElemSelected, .showerElemActive {
	display: none;
	}
}
*/
.inventario {
	display: flex;
	flex: 4;
	flex-flow: row wrap;
	min-width: 300px;
	width: 99vw;
	height: auto;
	padding: 10px 10px 30px 10px;
}
@media(min-width: 500px) {
.inventario {
	padding: 10px 45px 30px 50px;
}
}
.inventario2 {
	flex-flow: row wrap;
	min-width: 252px;
	width: 91%;
	max-height: 88vh;
	padding-bottom: 30px;
	overflow-x: hidden;
	border-style: groove;
	border-width: 6px;
	border-top-style: unset;
	border-color: blue;
	justify-content: center;
}

@media (max-width: 950px) {
	.inventario2 {
		width: 88%;
	}
}

@media (max-width: 590px) {
	.inventario2 {
		width: 77%;
	}
}

.container {
	flex: 1;
 /*   border-style: groove;*/
    min-width: 130px;
    max-width: 160px;
    overflow: hidden;
	padding: 10px 10px 0px;
}

.container4 {
	flex: 1;
	min-width: 140px;
    width: auto;
    max-width: 190px;
	align-items: center;
	display: flex;
	justify-content: center;
}

@media (pointer: fine) {
.container:hover {
	position: inherit;
	top: 300px;
	bottom: 0;
    min-width: 300px;
    width: 50vw;
    max-width: 800px;
    min-height: 450px;
    background-color: white;
    z-index: 1;
   	font-size: calc(1.3em + 0.9vw);
   	display: flex;
   	flex-flow: column;
   	justify-content: space-between;
   	align-items: center;
}
}

.container2 {
	flex: 1;
    width: 110px;
    max-width: 140px;
    min-height: 180px;
    padding: 0px 5px;
    justify-content: space-evenly;
	flex-flow: column;
	display: flex;
	text-align: center;
}

.displayContent {
	display: flex;
	justify-content: space-between;
	flex-flow: column;
	min-height: 100px;
	text-align: center;
	width: 100%;
}

.contSpace {
    margin: 0.5vw;
    border-radius: 10px;
} 

.prodimg {
	display: flex;
	min-width: 110px;
	max-width: 400px;
	min-height: 110px;
	cursor: pointer;
	border-radius: 100px;
	border-width: 2px;
	overflow: hidden;
	padding: 0px;
}

.prodimg2 {
	display: flex;
	min-width: 85px; 
	width: 100%;
	max-width: 200px;
	border-radius: 100px;
	border-width: 2px;
	overflow: hidden;
	cursor: pointer;
}

.prodname {
	display: flex;
	font-size: 0.73em;
	font-weight: bold;
	min-width: 95px;
	justify-content: center;
}

.prodbrand {
	font-size: 0.73em;
}

.prodbrand2 {
	display: flex;
	width: 100%;
	font-size: 0.73em;
	min-height: 20px;
}

.InfoProduct {
	display: flex;
}

.prodweight {
	font-size: 0.73em;
	width: 40%;
}

.prodvalue {
	display: flex;
	flex-flow: row-reverse;
	align-items: center;
}

.proddiscount {
	width: 60%;
	text-decoration-line: line-through;
}


.bold{
	font-weight: bold;
}
.prodprice {
	font-weight: bold;
	width: 50%;
}

.prodpriceunit {
	display: flex;
	font-size: 0.73em;
	min-width: 50%;
	justify-content: center;
}

.center2 {
	text-align: center;
	align-items: center;
	overflow: hidden;
}

.add {
	margin: 0px -10px;
	padding: 7px 0px;
	width: calc(100% + 20px);
	text-align: center;
	color: black;
	background-color: rgba(14, 178, 242, 0.5);
	border-radius: 0px;
	border-style: none;
	height: auto;
	font-size: inherit;
}
.remItem {
	margin: 0px -10px;
	padding: 7px 0px;
	width: calc(100% + 20px);
	text-align: center;
	color: white;
	background-color: red;
	border-radius: 0px;
	border-style: none;
	height: auto;
	font-size: inherit;
}
.remove {
	margin: 0px 2px;
	width: 23%;
	min-height: 20px;
}

.fitcontainer {
	width: 100%;
	height: 100%;
	background-color: cornflowerblue;
}

.show2 {
	display: static;
}

.showProductContainerBackground {
	background-color: rgb(0 0 0 / 60%);
	text-align: -webkit-center;
	overflow: auto;
	width: 100%;
	z-index: 2;
	position: fixed;
	top: 0;
	bottom: 0;

}

.showProductContainer {
	display: block;
	position: fixed;
	background-color: white;
	width: 90vw;
	height: auto;
	padding: 20px;
	top: 0;
	bottom: 0;
	left: 4vw;
	right: 4vw;
	z-index: 3;
	overflow-x: hidden;
	text-align: -moz-center;
}

@media (max-width: 787px){
.showProductContainer {
	font-size: x-small;
	padding: 0px;
	top: 0;
	bottom: 0;
	left: 4vw;
	right: 4vw;
	z-index: 3;
}

.prodimg {
    padding-top: 0px;
    max-width: 250px;
}
}

.showProduct {
	display: contents;
    width: 95%;
    height: 100%;
    font-size: calc(0.5em + 0.5vw)
}

.fontResize {
	font-size: calc(1.5em + 2vh);
	margin: 10px;
	flex: 1;
}

.resizeButton {
	width: 30px;
    height: 30px;
}










/* footer */

footer {
	display: flex;
	flex-flow: row wrap;
	text-decoration: none;
	max-height: 540px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.25);
	position: absolute;
	min-width: 320px;
	width: 100%;
	z-index: unset;
}

footer a {
	text-decoration: none;
	color: black;
}

footer button {
	background-color: lightskyblue;
	color: darkred;
	border-radius: 10px;
}

.footPic {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.flex {
	display: flex;
}

.flex1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.flexfoot {
	flex-wrap: wrap;
	flex: 1;
    min-width: 300px;
    
}

.minheight {
	min-height: 200px;
}

.footspacesA {
	flex-direction: column;
	flex: 1;
	height: auto;
	min-height: 270px;
	justify-content: space-evenly;
}

.footspacesB {
	display: flex !important;
	flex-flow: column;
	justify-content: space-around;
}

.footcenter {
	display: flex;
    flex: 2;
    flex-direction: column;
    min-width: 285px;
}

.resize {
	font-size: calc(0.6vw + 0.8em);
	min-width: 240px;
}

.textcenter {
	text-align-last: center;
	display: flex;
}

.center {
	display: block;
    text-align-last: center;
}
.centerpag{
	display: flex;
	align-items: center;
	justify-content: center;
}

.borderB {
	border-bottom-style: groove;
	border-width: 2px;
	border-bottom-color: white;
}

.borderR {
	border-right-style: groove;
	border-width: 2px;
	border-right-color: white;
}

.borderT {
	border-top: groove;
}

.mailme {
	background-color: aliceblue;
	width: 65%;
	max-width: 150px;
	border-radius: 30px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.footOrder1 {
	order: 1;
	min-height: 270px;
	align-items: center;
}

.footOrder2 {
	order: 2
}

.footOrder3 {
	order: 3
}

@media (max-width: 774px){
.footOrder3 {
	order: 2;
	min-height: 270px;
}
.footOrder2 {
	order: 3;
}

}





/* Carrello */


.CartListShower {
	padding-left: 5vw;
	height: auto;
	min-height: 200px;
	min-width: 300px;
	padding-top: 60px;
	padding-bottom: 20px;
}

.cartListContainer {
	min-width: 290px;
	width: 90vw;
	height: auto;
	border-style: none;
	text-align: center;
}

.cartItem {
	display: flex;
    align-items: center;
    padding: 2vw;
    border-bottom-style: groove;
    border-width: 1px;
}

.cartTitle {
	display: flex;
    align-items: center;
    padding: 2vw;
	color: white;
    font-size: 0.9em;
    min-width: 290px;
}

.cartImg {
	width: 18vw;
	border-right-style: groove;
	border-width: 1px;
	min-width: 60px;
}

.fitImg {
	max-height: 190px;
	height: 17vw;
	min-height: 50px;
	border-radius: 100px;
}

.cartName {
	width: 25vw;
	height: 100%;
	border-right-style: groove;
	border-width: 1px;
	min-width: 75px;
}

.cartPrice {
	width: 15vw;
	min-width: 60px;
}

.cartQuantity {
	display: flex;
	flex-flow: column;
	margin-right: 5vw;
	margin-left: 2vw;
	min-width: 25px;
}

.remQuantity {
	width: 7vw;
	border-left-style: groove;
	border-width: 1px;
	min-width: 60px;
}

.remCart {
	width: 10vw;
	margin: 0px 5px 0px 15px;
}

.cartHeadPic {
	position: relative;
	height: 50px;
	width: 90vw;
	z-index: -1;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	top: calc(30px + 2vw);
	min-width: 290px;
}


.cartFooter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	max-height: 50px;
	color: white;
    position: absolute;
    width: 90vw;
}  

.cartFooter2 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	height: 60px;
	color: white;

}

.CartFootPic {
	position: inherit;
	width: 90vw;
	height: 110px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	min-width: 290px;
	margin-top: -60px;
}

.CartFootPic2 {
	position: absolute;
	width: 90vw;
	height: 60px;
	z-index: -1;
	min-width: 290px;
}

.cartTotal {
	padding: 0px 10px;
}

.totComplessivoArea {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 180px;
	position: absolute;
} 

.flexTot {
	display: flex;
	justify-content: space-between;
}

.removeCart {
	margin: 0px 0vw 0px 1vw;
	height: 30px;
}
.clearCart {
	margin: 10px;
	padding: 5px 10px;
	color: white;
}

@media(min-width: 800px) {
.cartImg {
	width: 21vw;
}

.cartName {
	width: 28vw;
}

.cartPrice {
	width: 18vw;
}

.remCart {
	margin: 0px 0px 0px 20px;
}
}

.Acquista {
	color: white;
	background-color: blue;
	min-width: 80px;
	width: 20vw;
	max-width: 200px;
	height: 7vh;
	margin: 30px 0px;
	border-radius: 10px;
}

.increase {
	cursor: pointer;
	margin-bottom: 10px;
	transform: rotate(180deg);
}

.decrease {
	cursor: pointer;
	margin-top: 10px;
}

.cartAmount {
	display: flex;
}

.specificazioni {
	font-size: calc(0.6em + 0.4vw);
	text-align: end;
}


/*
home stuff
*/


/*  Start content */

.backCarousel {
	z-index: -1;
	width: 100%;
	height: calc(50px + 42vw);
	min-height: 210px;
	max-height: 510px;
	min-width: 320px;
	position: absolute;
}

.fitbox {
	padding-top: 90px;
	width: 100%;
	min-height: 300px;
	height: calc(150px + 40vw);
	max-height: 600px;
}

/* Slideshow container */
.slideshow-container {
	overflow: hidden;
	display: flex;
	height: 100%;
	min-height: 200px;
	max-height: 500px;
	justify-content: center;
	align-items: center;
}

/* Hide the images by default */
.mySlides {
	display: none;
	position: relative;
	z-index: 0;
	max-height: 500px;
	height: auto;
	min-width: 320px;
}


/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: calc(1.1em + 0.9vw);
	border-radius: 5px;
	position: absolute;
	top: 10%;
	left: calc(50% - calc(150px + 3vw));
	right: calc(50% - calc(150px + 3vw));
	text-align: center;
}

.numbertextZ {
	z-index: -1;
	top: -10px;
	left: calc(50% - 150px);
	right: calc(50% - 150px);
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.translateMotion {
	-webkit-animation-name: translate;
	-webkit-animation-duration: 1s;
	animation-name: translate;
	animation-duration: 1s;
}

@-webkit-keyframes translate {
	from {transform: translateX(90vw);}
	to {transform: translateX(0px);}
}

@keyframes translate {
	from {transform: translateX(90vw);}
	to {transform: translateX(0px);}
}

.translateMotion2 {
	-webkit-animation-name: translate2;
	-webkit-animation-duration: 1s;
	animation-name: translate2;
	animation-duration: 1s;
}

@-webkit-keyframes translate2 {
	from {transform: translateX(90vw);}
	to {transform: translateX(0px);}
}

@keyframes translate2 {
	from {transform: translateX(90vw);}
	to {transform: translateX(0px);}
}

.homeFlex {
	min-width: 300px;
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: end;
	flex-flow: row;
}

@media (max-width: 500px) {
.homeFlex {
	min-width: 300px;
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: end;
	flex-flow: column;
}
}

.homeShower {
	display: flex;
	flex-flow: row;
	overflow: hidden;
	height: 290px;
	margin: 20px;
	align-items: center;
	width: 90vw;
	min-width: 290px;
	border-radius: 20px;
	background-color: rgb(255, 50, 0);
}

.container3 {
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	flex: 1;
/*	border-style: groove; */
	border-width: 3px;
	border-radius: 20px;
	border-color: black;
	width: 150px;
	min-height: 250px;
	font-size: calc(1.1em + 0.2vw);
}

.contSpace1 {
	padding: 10px;
	margin: 0px 10px;
}

.prodimg3 {
	display: flex;
	min-width: 90px;
	max-width: 150px;
	max-height: 160px;
	margin-bottom: 5px;
	border-style: groove;
	border-radius: 100px;
	border-color: black;
	border-width: 2px;
	overflow: hidden;
}

.prodname1 {
	font-size: 0.73em;
	font-weight: bold;
	min-height: 20px;	
}

.prodbrand3 {
	font-size: 0.73em;
	min-height: 20px;
}
.showFlex {
	display: flex;
	padding-right: 120px;
}

.scrollBack {
	display: flex;
	transform: translateX(2vw) rotate(90deg);
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 12vw;
	height: 12vw;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	max-width: 60px;
	max-height: 60px;
}

.scrollFoward {
	display: flex;
	position: absolute;
	transform: translateX(60vw) rotate(-90deg);
    background: rgba(0, 0, 0, 0.5);
	width: 12vw;
	height: 12vw;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	max-width: 60px;
	max-height: 60px;
}

.scrollArrow {
	width: 9vw;
	max-width: 40px;
}


@media(max-width: 300px) {
.scrollFoward {
	transform: translateX(220px) rotate(-90deg);
}
}

.linkBox {
	position: absolute;
	top: -20px;
	bottom: -70px;
	left: 0;
	right: -14%;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.hsn {
	display: flex;
	align-items: center;
	text-align: center;
	color: green;
	min-width: 20vw;
	justify-content: center;
	flex-flow: column;
	font-size: calc(0.8em + 0.3vw);
}

.hsn h2 {
	margin: 5px 0px;
	font-weight: unset;
}
/*  Pagina Profilo  */

.profy {
	min-height: 200px;
	align-content: space-evenly;
	display: flex;
	flex-flow: row;
	font-size: calc(0.9em + 0.5vw);
	padding: 20px 0px 0px;
}

.flexy1 {
	border-right-style: groove;
	border-width: 1px;
	border-color: blueviolet;
	border-top-right-radius: 10px;
	min-height: 350px;
	width: 30vw;
	min-width: 165px;
	height: auto;
}
.profList {
	min-width: calc(150px + 3vw);
	text-align: center;
	display: flex;
	flex-flow: column;
	border-top-style: groove;
	border-width: 1px;
	border-color: blueviolet;
	border-top-right-radius: 10px;
	padding-top: 20px;
}

.pli {
	padding: 10px;
}

.acqui {
	display: flex;
	flex-flow: row wrap;
}

.fli{
	flex: 1;
	margin-top: 10px;
}

.column {
	display: flex;
	flex-flow: column;
	width: 70vw;
	align-items: center;
}

.profyInfo {
	flex-flow: row wrap;
	display: flex;
	flex: 1;
	border-bottom-style: groove;
	border-width: 1px;
	border-color: blueviolet;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.dispInfo {
	flex: 1;
	min-width: calc(150px + 3vw);
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	min-height: 120px;
	border-right-style: groove;
	border-top-style: groove;
	border-width: 1px;
	border-color: blueviolet;
	border-radius: 10px;
	align-items: center;
}

.dispic {
	width: 50px;
	height: 70px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.profPic {
	width: 70px;
	height: 70px;
	border-radius: 50px;
}


.aggio {
	width: 100px;
	margin-bottom: 10px;
	background-color: rgba(150, 0, 255, 0.7);
}

.colorUpp {
	background-color: white;
	min-width: 300px;
	border-radius: 20px;
	justify-content: space-evenly;
}

.uppContact {
	display: flex;
	flex-direction: column;
	height: 55px;
	justify-content: space-between;
}

.column2 {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.inputupdprod {
	min-width: 250px;
	width: 40vw;
	max-width: 400px;
	text-align: center;
}

.mainInfo3 {
	height: auto;
	align-items: center;
	display: flex;
	justify-content: end;
	flex-flow: column;
}
.updinform {
    display: flex;
    background-color: lightcyan;
    height: 300px;
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    overflow: auto;
    scrollbar-width: none;
    border-radius: 10px;
    z-index: 3;
    position: absolute;
}
.updinf {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 300px;
    width: 100%;
    text-align: center;
}

.colorUpp2 {
	background-color: white;
	min-width: 300px;
	border-radius: 20px;
}

.column2 {
	flex-flow: column;
	background-color: transparent;
}

.min-height0 {
	border-style: groove;
}


/*  carrello acquisto  */


.acqformback {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.acqformcontainer {
	min-height: 300px;
	height: 90vh;
	max-height: 800px;
	overflow: auto;
	background: white;
	width: 60vw;
	min-width: 300px;
	max-width: 500px;
	border-radius: 20px;
}

.acquiform {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 100%;
	padding-left: 10%;
}

.submitacq {
	justify-content: center;
	display: flex;
	width: 100%;
	margin-left: -5%;
}

.w100 {
	width: 80%;
	text-align: center;
	max-height: 200px;
	min-width: 150px;
}
.h100 {
	min-height: 100px;
	max-width: 80%;
}

.acquinfo {
	height: auto;
	align-items: center;	
	display: flex;
	width: 80%;
	max-width: 300px;
	min-width: 250px;
}
.acquinfoL {
	height: auto;
	align-items: center;	
	display: flex;
	justify-content: flex-end;
	width: 80%;
}

.hidit {
	display: none;
}

.spcend {
	justify-content: flex-end;
	flex-flow: row wrap;
	flex: 1;
	font-size: 0.9em;
}

.cent {
	text-align: center;
    width: 96%;
    min-width: 240px;
    max-width: 260px;
}
.pointer {
	cursor: pointer;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
.white {
	color: white;
}
.btnviola {
	background-color: rgba(150, 0, 255, 0.7);
}
.btnred {
	background-color: red;
}
.ordinesel {
    height: 500px;
    display: flex;
    flex-flow: column;
}
.ordine {
    cursor: pointer;
    flex: 0.2;
    align-items: center;
    display: flex;
}
.f1 {
    flex: 1;
    border-right-style: inset;
}